--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/analytics/performance/channels.json?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&end=1362114000&expires=1362771230&signature=CK2HaTkxmnLVI%2BQxM%2ByjRRw8C2AIlXc8A1eWWdXUMJ8%3D&start=1359694800
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json;charset=UTF-8
      etag: 
      - "\"80a3c37734c647a2ae2c3b713541d85b\""
    body: 
      encoding: US-ASCII
      string: "{\"has_next\":false,\"data_as_of\":1362770941,\"page_id\":0,\"channels\":[]}"
  recorded_at: Fri, 08 Mar 2013 19:28:52 GMT
recorded_with: VCR 2.1.1
