--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/events?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1363895866&signature=mEy1%2B3%2BlnK2VBaYOac8lnO6s8L8sflBFqCZIPF3oCoU%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"data_as_of\":1363895571,\"has_next\":false,\"page_id\":0,\"event_list\":[{\"event_type\":\"MEDIA_CREATED\",\"event_id\":\"98f924e5d2b0455688161e487f595873\",\"event_timestamp\":1362669513,\"org_id\":\"dde8e72013ba44768e764e1bff217a5a\",\"properties\":{\"original_filename\":\"sample.mp4\",\"upload_method\":\"unknown\",\"media_id\":\"7a504e2a240f49e084825482902ae91f\"}},{\"event_type\":\"MEDIA_METADATA_MODIFIED\",\"event_id\":\"08dd18b303454f6299995404c1fc11a7\",\"event_timestamp\":1362669513,\"org_id\":\"dde8e72013ba44768e764e1bff217a5a\",\"properties\":{\"media_id\":\"7a504e2a240f49e084825482902ae91f\",\"property\":\"Title\"}},{\"event_type\":\"CHANNEL_CREATED\",\"event_id\":\"0d1bd001ec824a9c84e57286e42a5c2b\",\"event_timestamp\":1362669514,\"org_id\":\"dde8e72013ba44768e764e1bff217a5a\",\"properties\":{\"title\":\"new_channel\",\"channel_id\":\"a1803fd4dca34954860a9233fc966cd4\"}},{\"event_type\":\"CHANNEL_METADATA_MODIFIED\",\"event_id\":\"03d20a269dfd4e7bb2fb928dcee811a2\",\"event_timestamp\":1362669515,\"org_id\":\"dde8e72013ba44768e764e1bff217a5a\",\"properties\":{\"channel_id\":\"a1803fd4dca34954860a9233fc966cd4\",\"property\":\"State\"}},{\"event_type\":\"CHANNEL_CONTENTS_MODIFIED\",\"event_id\":\"51831c432a264ea4aaba1db2e78f31a9\",\"event_timestamp\":1362669516,\"org_id\":\"dde8e72013ba44768e764e1bff217a5a\",\"properties\":{\"[...]
