--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1363016384&signature=cDsJDJrdUdbdsxZvgS9FOIspmH9ZXFzIPY8Nx01ZdpE%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      content-type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 201 Created
    body: 
      encoding: US-ASCII
      string: "{\"publish_date\": null, \"category\": null, \"description\": null, \"sched_end_date\": null, \"tags\": [], \"title\": \"test\", \"media_id\": \"42d781877900454ab24f5d7cdc5ebf86\", \"media_type\": \"Video\", \"original_filename\": \"sample-mp4\", \"sched_start_date\": null, \"restrictionrule_id\": null, \"create_date\": 1363016091, \"state\": \"New\", \"total_storage_in_bytes\": 0, \"thumbnails\": [{\"url\": \"http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf\", \"width\": \"\", \"height\": \"\"}, {\"url\": \"http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf\", \"width\": \"\", \"height\": \"\"}], \"ref_id\": null, \"update_date\": 1363016091, \"custom_property\": null, \"duration_in_milliseconds\": 0}"
  recorded_at: Mon, 11 Mar 2013 15:34:46 GMT
- request: 
    method: get
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media/42d781877900454ab24f5d7cdc5ebf86/encodings.json?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1363016386&primary_use=all&signature=BnLsY%2FlCnTO4KnKMaHmxipvEgL8q3I3eHqZdL2KzW%2BM%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      content-type: 
      - application/json;charset=UTF-8
      etag: 
      - "\"c2683d816c8945dfa9cf398eb846921c\""
    body: 
      encoding: US-ASCII
      string: "{\"errors\": [\"Media either does not exist or you do not have access to it.\"]}"
  recorded_at: Mon, 11 Mar 2013 15:34:46 GMT
recorded_with: VCR 2.1.1
