--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1363016307&signature=djIgBeq7yWisu7w8zia9ZVicepbL4ZOhCkP%2BHjfvuss%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      content-type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 201 Created
    body: 
      encoding: US-ASCII
      string: "{\"publish_date\": null, \"category\": null, \"description\": null, \"sched_end_date\": null, \"tags\": [], \"title\": \"test\", \"media_id\": \"dd60ec8341bf48c1bd4be4532b946525\", \"media_type\": \"Video\", \"original_filename\": \"sample-mp4\", \"sched_start_date\": null, \"restrictionrule_id\": null, \"create_date\": 1363016014, \"state\": \"New\", \"total_storage_in_bytes\": 0, \"thumbnails\": [{\"url\": \"http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf\", \"width\": \"\", \"height\": \"\"}, {\"url\": \"http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf\", \"width\": \"\", \"height\": \"\"}], \"ref_id\": null, \"update_date\": 1363016014, \"custom_property\": null, \"duration_in_milliseconds\": 0}"
  recorded_at: Mon, 11 Mar 2013 15:33:29 GMT
- request: 
    method: get
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media/dd60ec8341bf48c1bd4be4532b946525/encodings.json?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1363016309&primary_use=all&signature=zZPDc5QCVI3YiGke8wV5lQbehS8pEaDIabg6W03vZak%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      content-type: 
      - application/json;charset=UTF-8
      etag: 
      - "\"6a2c92bbe9b14263b7b0755075167342\""
    body: 
      encoding: US-ASCII
      string: "{\"errors\": [\"Media either does not exist or you do not have access to it.\"]}"
  recorded_at: Mon, 11 Mar 2013 15:33:29 GMT
recorded_with: VCR 2.1.1
